[MESSAGES CONTROL]
disable = duplicate-code,use-implicit-booleaness-not-comparison,fixme,too-many-branches,line-too-long

[MASTER]
ignore=templates,docs
disable = duplicate-code,use-implicit-booleaness-not-comparison,fixme
